<header>
  <app-log-sign
    *ngIf="logSignView"
    (closeApp)="reset()"
    (nextStep)="routing($event)"
  ></app-log-sign>
  <app-login
    *ngIf="loginView"
    [activeLink]="activeLink"
    (closeApp)="reset()"
    (nextStep)="routing($event)"
  ></app-login>
  <app-signup *ngIf="signupView" (closeApp)="reset()"></app-signup>
  <div id="logo">
    <img src="../../../assets/logo1.3.0.jpg" alt="logo" />
  </div>
  <app-main-menu
    [activeTab]="activePage"
    (mainLink)="display($event)"
  ></app-main-menu>
  <app-burger-menu (burgerLink)="display($event)"></app-burger-menu>
</header>
