img {
  width: 150px;
}
#logo {
  margin: 20px;
}
app-burger-menu {
  display: none;
}

@media screen and (max-width: 992px) {
  app-main-menu {
    display: none;
  }
  app-burger-menu {
    display: block;
  }
}
