<nav>
  <a
    href="./"
    id="home"
    data-testid="home-page"
    (click)="updateActiveTab(false, 'home')"
    >Accueil</a
  >
  <a
    href="./services"
    id="services"
    data-testid="services-page"
    (click)="updateActiveTab(false, 'services')"
    >Services</a
  >
  <a
    href="./docs"
    id="docs"
    data-testid="docs-page"
    (click)="updateActiveTab(false, 'docs')"
    >Documentation</a
  >
  <a
    href="./forum"
    id="forum"
    data-testid="forum-page"
    (click)="updateActiveTab(false, 'forum')"
    >Forum</a
  >
  <div id="user-page" (click)="updateActiveTab(true)">
    <div id="user-logo"></div>
    <div id="chevron" class="down"></div>
    <div id="user-menu" *ngIf="isOpened">
      <a href="./account" (click)="updateActiveTab(true, 'account')"
        >Mon compte</a
      >
      <a href="./messaging" (click)="updateActiveTab(true, 'messaging')"
        >Messagerie</a
      >
      <a href="./account" (click)="updateActiveTab(true, 'account')"
        >Connexion</a
      >
    </div>
  </div>
</nav>
