<nav>
  <a
    href="./"
    id="home"
    data-testid="home-page"
    (click)="updateActiveTab(false, 'home')"
    >Accueil</a
  >
  <a
    href="./services"
    id="services"
    data-testid="services-page"
    (click)="updateActiveTab(false, 'services')"
    >Services</a
  >
  <a
    href="./docs"
    id="docs"
    data-testid="docs-page"
    (click)="updateActiveTab(false, 'docs')"
    >Documentation</a
  >
  <a
    href="./forum"
    id="forum"
    data-testid="forum-page"
    (click)="updateActiveTab(false, 'forum')"
    >Forum</a
  >
  <div id="user-page">
    <div id="user-logo" (click)="updateActiveTab(true)"></div>
    <div id="chevron" class="down"></div>
    <div id="user-menu" *ngIf="isOpened">
      <a href="./perso" (click)="updateActiveTab(true, 'perso')">Mon compte</a>
      <a href="./messagerie" (click)="updateActiveTab(true, 'messagerie')"
        >Messagerie</a
      >
      <a href="./perso" (click)="updateActiveTab(true, 'perso')">Connexion</a>
    </div>
  </div>
</nav>
